body{
    margin:0;
    padding:0;
    direction: rtl;
}
div{
    border: 1px solid black;
    height: 50px;
}
div img{
    height: 30px;
    margin: 10px;
    float: right;
}
div ul li{
    float: right;
    list-style: none;
}
div ul li{
    float: right;
    margin: auto 10px;
    color: red;
}
div ul li:hover{
    color: red;
    font-weight: bold;
}
 div ul.link{ 
    float: left;
}
div ul.link li{
    background: red;
    color: white;
    padding: 10px;
    margin: auto -9px;
    border-radius: 5px;
} 